<!-- 13.1. Criando o protótipo do formulário de cadastro de lançamentos:
  Clss css do grid mudaram de nome do Primeflex V. 2.0 p/ o Primeflex V. 3.0: cls do grid, em vez de .p-grid,
  agora é só .grid. Analogamente, cls da col, em vez de .p-col ou .p-col-*, agora é só .col ou .col-*. Clss
  representando cols responsivas, em vez de .p-sm-* ou .p-lg-*, por exemp, agora é .sm:col-* ou .lg:col-*.

  Em disp c/ telas menores (até 768px) os comps ficam empilhados, sendo que campos datas venc e pag/receb
  ocupam 1ª lin e apenas metade da tela cada. Em telas a partir deste tam, a tela terá a seguinte disposição:
    1ª lin: campos datas venc e pag/receb ocupam 50% tela (25% e 25%);
    2ª lin: campos desc e val ocupam 100% tela (75% e 25%);
    3ª lin: campos categ e pessoa ocupam 100% tela (50% e 50%);
    4ª lin: campo obs ocupam 100% tela;
    5ª lin: Btns.
-->

<div class="container">
  <form>
    <div class="grid">
      <div class="col-12">
        <h1>Novo Lançamento</h1>
      </div>

      <!-- 13.3. Adicionando botão de seleção:
        Vamos usar o comp PNG SelecButton p/ alternar entre as abas de tp lançamento (receita ou despesa).
        Associa uma var de template (#tipo) ao comp, para referencia-lo futuramente. -->
      <div class="col-12">
        <p-selectButton [options]="tipos" #tipo></p-selectButton>
      </div>

      <div class="col-6 md:col-3 p-fluid">
        <label>Vencimento</label>
        <!-- 13.2. Adicionando seletor de data (componente Calendar):
         Substitui os campos do tipo data (venc e pag/receb) de um input[type="text"] p/ um comp PNG Calendar.

         C/ a prop inline=true, o caldendário em vez de surgir como um popup fica fixo e sempre visível.

         As datas são, p/ padrão, no formato dos EUA (mm/dd/yy), mas o formato pode ser customizado através
         da prop dateFormat.

         C/ a prop readonlyInput=true, o campo input[type="text"] que exibe a data fica desabilitado (ñ editável),
         c/ isso podendo a data ser alterada somente clicando-se no calendário (p/ padrão, pode-se entrar c/ a data
         a editando diretamente no campo txt).

         Se a prop showIcon=true, aparecerá um ícone de calendário, no canto do campo input do comp de calendário. -->
        <!-- <input type="text" pInputText> -->

        <!-- <p-calendar></p-calendar> -->

        <!-- Formato de dt padrão brasileiro -->
        <p-calendar [readonlyInput]="false" [inline]="false" [showIcon]="false"
          [dateFormat]="'dd/mm/yy'"></p-calendar>
      </div>

      <div class="col-6 md:col-3 p-fluid">
        <!-- 13.3. Adicionando botão de seleção:
          Usa a str do campo value, do obj vinculado à aba atualmente selecionada no comp selectButton,
          p/ alternar dinamicamente o rótulo entre dt receb (receita) e dt pag (despesa) -->
        <!-- <label>Recebimento</label> -->

        <!-- <label>{{ tipo.value }}</label> -->

        <label>{{ tipo.value === "RECEITA" ? "Recebimento" : "Pagamento" }}</label>

        <!-- 13.2. Adicionando seletor de data (componente Calendar):
          Faz alteração semelhante à de dt venc em dt receb/pag. Tanto faz usar o formato abaixo, como
          se fosse uma prop HTML recebendo uma str, ou no formato acima, como uma prop de comp recebendo uma
          expr em TS. -->
        <!-- <input type="text" pInputText> -->

        <p-calendar dateFormat="dd/mm/yy"></p-calendar>
      </div>

      <div class="col-12 md:col-9 p-fluid">
        <label>Descrição</label>
        <!-- <input type="text" pInputText> -->

        <!-- 13.8. Validando controles de formulário com PrimeNG:
          Usando os mecanismos do NG de validação e verificação de estado de forms, aprendidos no mód
          12 (forms e validação), c/ mecanismos automáticos do próprio PNG (como circundar elems c/ estado
          inválido de vermelho, por exemp).

          Erros de validação de comps em estado inválido são armazenados no array ngModel.errors, do tipo
          ValidationErrors. Como esta propriedade errors pode ser nula, o Typescript reporta um problema
          na compilação do código. É necessário realizar a seguinte alteração nos pontos em que aparece a
          propriedade errors: desc.errors?. A colocação da ? indica que essa propriedade é opcional, ou seja,
          quando ela for nula o interpretador para a execução naquele ponto, sem tentar avaliar as propriedades
          encadeadas (required e minlength neste exemplo ). Caso não seja nulo as propriedades serão avaliadas.

          Na primeira abordagem, usaremos as combinação de clss CSS do PNG .p-message e .p-message-error, q
          indicam msgs de erros, no nosso comp de msg. A msg será exibida se o <input> estiver alterado ("sujo")
          e inválido.
        -->
        <br> Descripiton.errors = {{ desc.errors | json }}

        <input pInputText type="text" name="descricao" ngModel #desc="ngModel"
          required minlength="5">

        <!-- <div *ngIf="desc.dirty && desc.hasError('required')" class="p-message p-message-error">
          Informe uma descrição válida.
        </div> -->

        <!-- <div *ngIf="desc.dirty && desc.hasError('minlength')" class="p-message p-message-error"> -->
          <!-- Campo descrição deve ter no mínimo 5 caracteres. -->

          <!-- Tornando a msg de erro de tam mínimo dinâmica, c/ requiredLength (tam requerido) e
            actualLength (tam atual). -->
          <!-- Mínimo de {{ desc.errors?.minlength.requiredLength }} caracteres.
          Foram digitados {{ desc.errors?.minlength.actualLength }} caracteres.
        </div> -->

        <!-- 13.8. Validando controles de formulário com PrimeNG:
          Em vez de se usar as clss de mgss do PNG, como feito acima (comentado), pode-se usar o comp
          de msg do PNG, contido no mód MessageModule.  -->
        <p-message *ngIf="desc.hasError('required') && desc.dirty" severity="error"
          text="Informe uma descrição"></p-message>

        <p-message *ngIf="desc.hasError('minlength') && desc.dirty" severity="error"
          text="Mínimo de {{ desc.errors?.minlength.requiredLength }} caracteres.
          Foram digitados {{ desc.errors?.minlength.actualLength }}"></p-message>
      </div>

      <div class="col-12 md:col-3 p-fluid">
        <!-- 13.5. Adicionando máscara de dinheiro com ng2-mask-money:
          Como ng2-mask-money ñ foi encontrado e ng2-currency-mask (q parece ser o novo nome deste comp)
          tem incompatibilidade c/ versões do Angular >= 12, foi instalado o comp ngx-currency ( Cuja doc
          está aqui: https://www.npmjs.com/package/ngx-currency ).

          Comp ngx-currency fará c/ q o input[type="text"] de val siga uma máscara de moeda (outros chars
          serão considerados inválidos).

          Por padrão este comp prefixa o val c/ símb de dolar ($) e usa a notação dos EUA: '.' p/ decimal e ','
          p/ milhar. Alteraremos isso p/ c/ q o val ñ tenha qq prefixo e use a notação do BR: ',' p/ decimal e
          '.' p/ milhar. -->
        <label>Valor</label>
        <!-- <input type="text" pInputText placeholder="0,00" style="text-align: end;"> -->

        <!-- <input type="text" pInputText currencyMask
          [options]="{ prefix: '', thousands: '.', decimal: ',', allowNegative: false }"> -->

        <!-- 13.5. Adicionando máscara de dinheiro com ng2-mask-money:
          P/ alterar o tipo de input do ngx-currency de FINANCIAL (padrão) p/ NATURAL, é preciso fazer uso do
          enum CurrencyMaskInputMode e criar um obj de config customizável p/ ser atribuído ao mód NgxCurrencyModule,
          em sua importação pelo mód da app, conforme indicado na pág do ngx-currency.  -->
        <!-- <input type="text" pInputText placeholder="0,00" currencyMask> -->

        <!-- 13.5. Adicionando máscara de dinheiro com ng2-mask-money:
          Agora já há o comp InputNumber do PNG, que não havia ainda quando o vídeo da aula foi gravado, p/ isso
          o uso da dir currencyMask. Após o uso desta, apenas para efeito de demonstração, subistitui-se pelo comp
          de input numérico InputNumber. -->
        <p-inputNumber mode="currency" currency="BRL" placeholder="R$ 0,00" [inputStyle]="{'text-align': 'end'}"></p-inputNumber>
      </div>

      <div class="col-12 md:col-6 p-fluid">
        <!-- 13.4. Adicionando caixa de seleção (componente Dropdown):
          Comp PNG Dropdown tem um funcionamento mto semelhante ao SelecButton (botão de seleção).
          A prop placeholder exibe um txt padrão, se nenhuma opt estiver selecionada.
          Usa-se uma var de template (#categ) p/ armazenar o val da opt selecionada na dropdown. C/
          isto, pode-se pegar o val dela (categ.value) e exibir no <label>, a título de depuração. -->
        <!-- <label>Categoria</label> -->

        <label>Categoria {{ categ.value }}</label>

        <!-- <input type="text" pInputText> -->

        <p-dropdown [options]="categorias" placeholder="Selecione" #categ></p-dropdown>
      </div>

      <div class="col-12 md:col-6 p-fluid">
        <!-- 13.4. Adicionando caixa de seleção (componente Dropdown):
          Repete-se p/ pessoas o msm processo q p/ categorias, acima.
          Em pessoas tb adicionaremos um filtro, adicionando a prop filter=true. P/ padrão, o filtro é
          feito pelo campo label, cujos vals cotenham a str passada na caixa de filtro. -->
        <!-- <label>Pessoa</label> -->

        <label>Pessoa {{ pessoa.value }}</label>

        <!-- <input type="text" pInputText> -->

        <p-dropdown [options]="pessoas" placeholder="Selecione" [filter]="true" #pessoa></p-dropdown>
      </div>

      <div class="col-12 p-fluid">
        <label>Observação</label>
        <textarea rows="3" pInputTextarea></textarea>
      </div>

      <div class="col-12">
        <button pButton type="submit" label="Salvar"></button>
        <button pButton type="button" label="Novo" class="p-button-info"></button>
        <a href="javascript:;">Voltar para a pesquisa</a>
      </div>
    </div>
  </form>
</div>
