<div class="container">
  <div class="p-grid">
    <div class="p-col-12">
      <h1>Pessoas</h1>
    </div>

    <!-- 17.7. Desafio: criando a consulta e listagem de pessoas:
      Repetindo p/ o comp de pesquisa de pessoas o msm q foi feito p/ o de pesquisa de lançamentos (aulas 17.2-17.6).
      Neste caso, como feito lá, estou envolvendo os cntrls de pesquisa de pessoa, acima do grid, num elem <form>,
      p/ poder chamar o método pesquisar() no evto de submissão deste. -->
    <form autocomplete="off" (ngSubmit)="pesquisar()">
      <div class="p-col-12 p-fluid">
        <label>Nome</label>
        <!-- <input pInputText type="text" pTooltip="Filtro por nome pessoa" tooltipPosition="top"> -->

        <!-- 17.7. Desafio: criando a consulta e listagem de pessoas:
          Repetindo p/ o comp de pesquisa de pessoas o msm q foi feito p/ o de pesquisa de lançamentos (aulas 17.2-17.6). -->
        <input pInputText type="text" pTooltip="Filtro por nome pessoa" tooltipPosition="top"
          name="nome" [(ngModel)]="filtro.nome">
      </div>

      <div class="p-col-12">
        <button pButton type="submit" label="Pesquisar"></button>
      </div>
    </form>
  </div>

  <div class="p-grid">
    <div class="p-col-12">
      <!-- <p-table [value]="pessoas" [paginator]="true" [rows]="3" [responsive]="true">
        <ng-template pTemplate="header">
            <tr>
                <th>Nome</th>
                <th>Cidade</th>
                <th>Estado</th>
                <th>Status</th>
                <th class="col-acoes-header"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pessoa>
            <tr>
                <td>
                  <span class="p-column-title">Nome</span>
                  {{ pessoa.nome }}
                </td>
                <td>
                  <span class="p-column-title">Cidade</span>
                  {{ pessoa.cidade }}
                </td>
                <td>
                  <span class="p-column-title">Estado</span>
                  {{ pessoa.estado }}
                </td>
                <td>
                  <span class="p-column-title">Status</span> -->
                  <!-- {{ pessoa.ativo === 1 ? "Ativo" : "Inativo" }} -->
                  <!-- <a href="javascript:;" *ngIf="pessoa.ativo === 1; else elseBlock" pTooltip="Inativar">Ativo</a>
                  <ng-template #elseBlock>
                    <a href="javascript:;" pTooltip="Ativar">Inativo</a>
                  </ng-template>
                </td>
                <td class="col-acoes-content">
                  <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a> -->
                  <!-- <span>&nbsp;&nbsp;</span> Espaço entre os ícones -->
                  <!-- <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"></button>
                </td>
            </tr>
        </ng-template>
      </p-table> -->

      <!-- 13.11. Desafio: criando mais componentes:
        Transplantando o grid da pág de pesquisa de pessoas p/ um comp separado, afim de simplificar o cód
        daquela e tornar o cód do grid um comp reusável. -->
      <!-- <app-pessoas-grid [pessoas]="pessoas"></app-pessoas-grid> -->

      <!-- 17.7. Desafio: criando a consulta e listagem de pessoas:
        Repetindo p/ o comp de pesquisa de pessoas o msm q foi feito p/ o de pesquisa de lançamentos (aulas 17.2-17.6). -->
      <!-- <app-pessoas-grid [pessoas]="pessoas" [totRegs]="totRegs" [itensPag]="filtro.itensPagina"
        (mudancaPagEvt)="pesquisar($event)"></app-pessoas-grid> -->

      <!-- 17.13. Desafio: implementando a exclusão de pessoas:
        Identifica o comp filho de grid de pessoas na view, usando o decorador @ViewChild, de modo análago ao
        q foi feito c/ lançamentos (aulas 17.8-17.10).

      Tb de modo análogo ao q foi feito no grid de lancs, associa evto de saída do grid exclusaoPessoaEvt, q irá
        notificar e repassar o elem a ser excluído ao comp de pesquisa, ao método excluir(), q irá efetivamente excluir
        a pessoa.-->
      <!-- <app-pessoas-grid [pessoas]="pessoas" [totRegs]="totRegs" [itensPag]="filtro.itensPagina"
        (mudancaPagEvt)="pesquisar($event)" (exclusaoPessoaEvt)="excluir($event)" #gridPessoa>
      </app-pessoas-grid> -->

      <!-- 17.13. Desafio: implementando a exclusão de pessoas:
        De modo análogo ao comp de pesquisa de lancs, muda o método associado ao evto exclusaoPessoaEvt do método
        excluir(), q excluí a pessoa diretamente p/ o método confirmarExclusao(), p/ dar a chance do usr confirmar
        ou não a exclusão. -->
      <!-- <app-pessoas-grid [pessoas]="pessoas" [totRegs]="totRegs" [itensPag]="filtro.itensPagina"
        (mudancaPagEvt)="pesquisar($event)" (exclusaoPessoaEvt)="confirmarExclusao($event)" #gridPessoa>
      </app-pessoas-grid> -->

      <!-- 17.15. Desafio: implementando a mudança de status de pessoas:
        Associa evto de saída do grid altStatPessoaEvt, q irá e notificar e repassar o elem a ter o status alterado
        (ativado ou inativado) ao comp de pesquisa, ao método mudarStatus(), q irá efetivamente mudar o status pessoa,
        ativando-a ou inativando-a. -->
      <app-pessoas-grid [pessoas]="pessoas" [totRegs]="totRegs" [itensPag]="filtro.itensPagina"
        (mudancaPagEvt)="pesquisar($event)" (exclusaoPessoaEvt)="confirmarExclusao($event)"
        (altStatPessoaEvt)="mudarStatus($event)" #gridPessoa>
      </app-pessoas-grid>
    </div>
  </div>

  <div class="p-col-12">
    <a pButton label="Nova Pessoa"></a>
  </div>
</div>
