<nav class="navbar">

  <div class="container">

    <div class="p-grid">
      <div class="p-col-12">
        <!-- Os componentes de ícones que estamos usando agora são do PrimeIcons. Por esta razão, devemos
          atualizar o ícone do nosso menu (.pi .pi-bars).

          <a href="javascript:;"> quer dizer que ao clicar ñ sera executado nada, efetuado ação nenhuma.
            Ou seja, ao clicar, executar o javascript "nada". -->
          <a href="javascript:;" class="navbar-toggle" (click)="exibeMenu = !exibeMenu">
            <i class="pi pi-bars"></i>
          </a>
        <!-- Teste -->
      </div>
    </div>

  </div>

  <!-- 10.12. Adicionando menu intercambiável -->
  <ul class="navbar-menu" [hidden]="!exibeMenu">
    <li class="navbar-usuario">José da Silva</li>
    <li class="navbar-menuitem"><a href="javascript:;">Lançamentos</a></li>
    <li class="navbar-menuitem"><a href="javascript:;">Pessoas</a></li>
    <li class="navbar-menuitem"><a href="javascript:;">Logout</a></li>
  </ul>

</nav>
