<!-- 19.3. Desafio: módulo de segurança e protótipo da tela de login:
  Criando mód de seg c/ mód aux de roteamento (ambos seguindo padrão de como já feito na app) e protótipo
  de tela de login.

  Container do form de login será de tam médio. P/ + detalhes, ver cls css .container-md no arq styles.css. -->
<div class="container container-md">
  <form #form="ngForm">
    <!-- 19.5. Decodificando o JWT e armazenando no Local Storage:
      Exibe a prop jwtPayload do serv auth, c/ o conteúdo do payload do JWT, p/ efeito de depuração. -->
    {{ auth.jwtPayload | json }}
    <h1 style="padding-left: 1%;">Login</h1>
    <div class="col-12 p-fluid">
      <input pInputText type="text" name="login" ngModel #login="ngModel" required>
    </div>
    <div class="col-12 p-fluid">
      <input pInputText type="password" name="senha" ngModel #senha="ngModel" required>
    </div>
    <div class="col-12 p-fluid">
      <button pButton type="button" label="Login" class="p-button-info p-button-lg"
        (click)="doLogin(login.value, senha.value);" [disabled]="form.invalid"></button>
    </div>
  </form>
</div>
