<div class="container">
  <form>
    <div class="p-grid">
      <div class="p-col-12">
        <h1>Lançamentos</h1>
      </div>

      <!-- C/ p-fluid no comp pai, filhos ocupam 100% larg pai  -->
      <div class="p-col-12 p-fluid">
        <label>Descrição</label>
        <!-- Adiciona dir pInputText ao input[type="text"] p/ adicionar estilos e funcs do PrimeNG.
          Dir do PrimeNG pTooltip exibe uma msg de ajuda (tooltip text) relacionada ao elem -->
        <!-- <input pInputText type="text" pTooltip="Filtro por descrição lançamento"> -->

        <!-- 13.8. Validando controles de formulário com PrimeNG:
          Usando os mecanismos do NG de validação e verificação de estado de forms, aprendidos no mód
          12 (forms e validação), c/ mecanismos automáticos do próprio PNG (como circundar elems c/ estado
          inválido de vermelho, por exemp).

          Erros de validação de comps em estado inválido são armazenados no array ngModel.errors, do tipo
          ValidationErrors. Como esta propriedade errors pode ser nula, o Typescript reporta um problema
          na compilação do código. É necessário realizar a seguinte alteração nos pontos em que aparece a
          propriedade errors: desc.errors?. A colocação da ? indica que essa propriedade é opcional, ou seja,
          quando ela for nula o interpretador para a execução naquele ponto, sem tentar avaliar as propriedades
          encadeadas (required e minlength neste exemplo ). Caso não seja nulo as propriedades serão avaliadas.

          Na primeira abordagem, usaremos as combinação de clss CSS do PNG .p-message e .p-message-error, q
          indicam msgs de erros, no nosso comp de msg. A msg será exibida se o <input> estiver alterado ("sujo")
          e inválido.
        -->
        <br> Descripiton.errors = {{ desc.errors | json }}

        <input pInputText type="text" pTooltip="Filtro por descrição lançamento" name="descricao"
          ngModel #desc="ngModel" required minlength="5">

        <!-- <div *ngIf="desc.dirty && desc.hasError('required')" class="p-message p-message-error">
          Informe uma descrição válida.
        </div> -->

        <!-- <div *ngIf="desc.dirty && desc.hasError('minlength')" class="p-message p-message-error"> -->
          <!-- Campo descrição deve ter no mínimo 5 caracteres. -->

          <!-- Tornando a msg de erro de tam mínimo dinâmica, c/ requiredLength (tam requerido) e
            actualLength (tam atual). -->
          <!-- Mínimo de {{ desc.errors?.minlength.requiredLength }} caracteres.
          Foram digitados {{ desc.errors?.minlength.actualLength }} caracteres.
        </div> -->

        <!-- 13.8. Validando controles de formulário com PrimeNG:
          Em vez de se usar as clss de mgss do PNG, como feito acima (comentado), pode-se usar o comp
          de msg do PNG, contido no mód MessageModule.  -->
        <p-message *ngIf="desc.hasError('required') && desc.dirty" severity="error"
          text="Informe uma descrição"></p-message>

        <p-message *ngIf="desc.hasError('minlength') && desc.dirty" severity="error"
          text="Mínimo de {{ desc.errors?.minlength.requiredLength }} caracteres.
          Foram digitados {{ desc.errors?.minlength.actualLength }}"></p-message>
      </div>

      <div class="p-col-12">
        <!-- Mudando display do lbl de "inline" pra "block" há quebra de linha e d+ elems vão pra baixo -->
        <label style="display: block;">Vencimento</label>
        <input pInputText type="text" style="width: 100px;" pTooltip="Filtro por data mínima vencimento lançamento">

        &nbsp;<label>Até</label>&nbsp;
        <input pInputText type="text" style="width: 100px;" pTooltip="Filtro por data máxima vencimento lançamento">
      </div>

      <div class="p-col-12">
        <!-- Adiciona dir pButton ao <button> p/ adicionar estilos e funcs do PrimeNG -->
        <button pButton type="submit" label="Pesquisar"></button>
      </div>
    </div>
  </form>

  <div class="p-grid">
    <div class="p-col-12">
      <!-- <ul>
        <li *ngFor="let l of lancamentos">{{ l.pessoa }}</li>
      </ul> -->

      <!-- A dir *ngFor, explícita no exemp acima (comentado), está implícita na tabela do Prime NG.
        Para ativar a paginação básica, basta ativar a prop "paginator" e especificar o núm de lins p/
        pág c/ a prop "rows".
        Para tornar nossa tabela responsiva no PrimeNG 10, primeiramente utilizamos o mesmo atributo mostrado
        na aula (10.9): "responsive". Além disso, precisamos adicionar a informação de cabeçalho no template
        "body", pois ele que será exibido nos dispositivos de menor resolução. O cabeçaho no corpo da tabela
        deve ser adicionado com a classe CSS .p-column-title .
      -->
      <p-table [value]="lancamentos" [paginator]="true" [rows]="3" [responsive]="true">
        <ng-template pTemplate="header">
            <tr>
                <th>Pessoa</th>
                <th>Descrição</th>
                <th class="col-data-header">Vencimento</th>
                <th class="col-data-header">Pagamento</th>
                <th class="col-valor-header">Valor</th>
                <!-- Apenas teste p/ mostrar header c/ um btn em vez de um lbl -->
                <!-- <th class="col-valor-header"><button pButton label="Teste"></button></th> -->
                <th class="col-acoes-header"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-lancamento>
            <tr>
                <td>
                  <span class="p-column-title">Pessoa</span>
                  {{ lancamento.pessoa }}
                </td>
                <td>
                  <span class="p-column-title">Descrição</span>
                  {{ lancamento.descricao }}
                </td>
                <!-- 11.8. Desafio: usando pipes: alterar campos de data de str p/ Date, usando DatePipe no template p/ conseguir
                  deixá-la no msm formato que estava na str (dd/MM/yyyy). Também usar CurrencyPipe no template p/ conseguir
                  deixar campo val formatado em Real (R$). -->
                <td class="col-data-content">
                  <span class="p-column-title">Vencimento</span>
                  <!-- {{ lancamento.dataVencimento }} -->
                  {{ lancamento.dataVencimento | date:"dd/MM/y" }}
                </td>
                <td class="col-data-content">
                  <span class="p-column-title">Pagamento</span>
                  <!-- {{ lancamento.dataPagamento }} -->
                  {{ lancamento.dataPagamento | date:"dd/MM/y" }}
                </td>
                <td class="col-valor-content">
                  <span class="p-column-title">Valor</span>
                  <!-- Dir ngStyle recebe um obj JS c/ params equivalentes às props CSS a serem aplicadas
                      inline no elem. Despesas são vermelhas e receitas azuis -->
                  <!-- <span [ngStyle]="{ color: lancamento.tipo === 'DESPESA' ? 'red' : 'blue' }">{{ lancamento.valor }}</span> -->

                  <!-- Opcionalmente, no caso de alteração de poucas props (no caso, há apenas 1), pode-se atribuir a expr JS
                    diretamente à prop CSS, como feito abaixo -->
                  <!-- <span [style.color]="lancamento.tipo === 'DESPESA' ? 'red' : 'blue'">{{ lancamento.valor }}</span> -->
                  <span [style.color]="lancamento.tipo === 'DESPESA' ? 'red' : 'blue'">{{ lancamento.valor | currency:"BRL" }}</span>
                </td>
                <!-- Adicona coluna c/ btns de edição (ícone caneta) e exclusão (ícone lixeira). Btn de edição será uma âncora (<a>)
                  e btn de exclusão será um <button>. Isso faz sentido, pois o btn de edição será uma navegação p/ uma outra página
                  (de edição lançamento), enquanto o btn de exclusão será apenas um disparador de ação (de exclusão). Ambos terão
                  a dir pButton p/ aplicar estilos e funcionalidades do Angular -->
                <td class="col-acoes-content">
                  <a pButton icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"></a>
                  <span>&nbsp;&nbsp;</span> <!-- Espaço entre os ícones -->
                  <button pButton icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"></button>
                </td>
            </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div class="p-col-12">
    <!-- Dir pButton tb pode ser adicionada a uma âncora (<a>) -->
    <a pButton label="Novo lançamento"></a>
  </div>
</div>
