<nav class="navbar">

  <div class="container">

    <div class="p-grid">
      <div class="p-col-12">
        <!-- Os componentes de ícones que estamos usando agora são do PrimeIcons. Por esta razão, devemos
          atualizar o ícone do nosso menu (.pi .pi-bars).

          <a href="javascript:;"> quer dizer que ao clicar ñ sera executado nada, efetuado ação nenhuma.
            Ou seja, ao clicar, executar o javascript "nada". -->
          <a href="javascript:;" class="navbar-toggle" (click)="exibeMenu = !exibeMenu">
            <i class="pi pi-bars"></i>
          </a>
        <!-- Teste -->

        <!-- 19.10. Obtendo um novo access token:
          P/ enquanto inseriremos um btn no menu p/ o usr pressionar e obter um novo access token, via req
            de refresh token. Este processo será automatizado posteriormente.

        19.11. Interceptando chamadas HTTP para tratar a expiração do access token:
          Removendo o btn, pois a partir de agora a renovação do token será automática. -->
        <!-- <button type="button" (click)="obterNovoAccessToken();" style="margin-left: 10px;">Novo Access Token</button> -->
      </div>
    </div>

  </div>

  <!-- 10.12. Adicionando menu intercambiável -->
  <ul class="navbar-menu" [hidden]="!exibeMenu">
    <!-- <li class="navbar-usuario">José da Silva</li> -->

    <!-- 19.8. Exibindo o nome do usuário logado:
      Interpolação do nome de usuário logado:
        Conforme mencionado no material de apoio da aula 19.5, não é mais possível fazer a interpolação
          no template utilizando uma variável com modificador de acesso private. Para resolver o problema,
          criaremos uma variável usuárioLogado e inicializaremos esta variável no arquivo Typescript, c/ o
          val retornado p/ AuthService.jwtPayload.nome.

        No template será feita a interpolação com a variável usuarioLogado. Desta forma, o objeto auth fica
        restrito ao arquivo Typescript, deixando a aplicação menos vulnerável. -->
    <li class="navbar-usuario">{{ usuarioLogado }}</li>

    <!-- <li class="navbar-menuitem"><a href="javascript:;">Lançamentos</a></li>
    <li class="navbar-menuitem"><a href="javascript:;">Pessoas</a></li>
    <li class="navbar-menuitem"><a href="javascript:;">Logout</a></li> -->

    <!-- 18.3. Navegando com Router Link:
      Agora que já temos URLS mapeadas na app, podemos implementar os links desta. Vamos implementá-los da maneira
      padrão no JS. -->
    <!-- <li class="navbar-menuitem"><a href="/lancamentos">Lançamentos</a></li>
    <li class="navbar-menuitem"><a href="/pessoas">Pessoas</a></li>
    <li class="navbar-menuitem"><a href="javascript:;">Logout</a></li> -->

    <!-- Links da maneira padrão no JS (acima) funcionam, mas há um refresh c/ recarregamento da app cada vez q o link é
      clicado, c/ recarregamento de tds arqs necessários (levando + tempo) e perda de infos da app. O correto é se
      implementar links c/ a dir NG routerLink. C/ ela, a app é carregada uma única vez (s/ perda de infos e recarregamento
      de arqs a cada clique). Não há refresh na app, há apenas uma alteração entre as views dos comps. -->
    <!-- <li class="navbar-menuitem"><a routerLink="/lancamentos">Lançamentos</a></li> -->

    <!-- 18.4. Estilizando links da rota ativa:
      Coloca a cls css .ativo fixa no link de lanç, p/ testar estilização -->
    <!-- <li class="navbar-menuitem ativo"><a routerLink="/lancamentos">Lançamentos</a></li> -->

    <!-- Vamos utilizar a dir NG routerLinkActive. C/ ela, podemos adicionar dinamicamente uma cls css (no caso .ativo) ao link q
      estiver selecionado (ativo). A dir poderia estar diretamente no link (elem <a>), mas como o elem <li> envolve o link,
      podemos colocar a dir nela, q o roteador "entende" e funciona do msm jeito. -->
    <!-- <li class="navbar-menuitem" routerLinkActive="ativo" ><a routerLink="/lancamentos">Lançamentos</a></li> -->

<!-- 19.9. Exibindo o menu do sistema conforme permissões do usuário:
      Vamos criar no AuthService um método p/ verificar se o usr logado tem uma determinada permissão, pela
        maneira já prev descr.

      Interpolação da função de verificação de permissões:
        Conforme mencionado no material de apoio da aula 19.5, não é mais possível fazer a interpolação no
          template utilizando uma variável com modificador de acesso private. Para resolver o problema,
          criaremos um método temPermissao() em NavbarComponent que fará referência ao método de mesmo nome
          presente em AuthService.

        No template será feita a interpolação utilizando este método . Desta forma, o objeto auth fica restrito
          ao arquivo Typescript, deixando a aplicação menos vulnerável. -->
    <li *ngIf="temPermissao(permissoes.ROLE_PESQUISAR_LANCAMENTO)" class="navbar-menuitem" routerLinkActive="ativo" ><a routerLink="/lancamentos">Lançamentos</a></li>

    <!-- <li class="navbar-menuitem"><a routerLink="/pessoas">Pessoas</a></li> -->

    <!-- 18.4. Estilizando links da rota ativa:
      Vamos utilizar a dir NG routerLinkActive. C/ ela, podemos adicionar dinamicamente uma cls css (no caso .ativo) ao link q
      estiver selecionado (ativo). A dir poderia estar diretamente no link (elem <a>), mas como o elem <li> envolve o link,
      podemos colocar a dir nela, q o roteador "entende" e funciona do msm jeito. -->
    <!-- <li class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/pessoas">Pessoas</a></li> -->

<!-- 19.9. Exibindo o menu do sistema conforme permissões do usuário:
      Vamos criar no AuthService um método p/ verificar se o usr logado tem uma determinada permissão, pela
        maneira já prev descr.

      Interpolação da função de verificação de permissões:
        Conforme mencionado no material de apoio da aula 19.5, não é mais possível fazer a interpolação no
          template utilizando uma variável com modificador de acesso private. Para resolver o problema,
          criaremos um método temPermissao() em NavbarComponent que fará referência ao método de mesmo nome
          presente em AuthService.

        No template será feita a interpolação utilizando este método . Desta forma, o objeto auth fica restrito
          ao arquivo Typescript, deixando a aplicação menos vulnerável. -->
    <li *ngIf="temPermissao(permissoes.ROLE_PESQUISAR_PESSOA)" class="navbar-menuitem" routerLinkActive="ativo"><a routerLink="/pessoas">Pessoas</a></li>

    <!-- <li class="navbar-menuitem"><a href="javascript:;">Logout</a></li> -->

    <!-- 19.16. Implementando o logout:
      Adiciona invocação de método handler, qdo o btn de logout for clicado, p/ q este se torne funcional.  -->
    <li class="navbar-menuitem"><a href="javascript:;" (click)="logout();">Logout</a></li>
  </ul>

</nav>
