<!-- <p-tabView>
  <p-tabPanel header="Header 1">
     Content 1
  </p-tabPanel>
  <p-tabPanel header="Header 2">
      Content 2
  </p-tabPanel>
  <p-tabPanel header="Header 3">
      Content 3
  </p-tabPanel>
</p-tabView> -->

<!-- 10.11. Criando o componente de barra de navegação -->
<app-navbar></app-navbar>

<!-- 10.10. Criando o componente de pesquisa de lançamentos -->
<app-lancamentos-pesquisa></app-lancamentos-pesquisa>

<!-- 10.13. Desafio: criando componente de pesquisa de pessoas -->
<!-- <app-pessoas-pesquisa></app-pessoas-pesquisa> -->
