<!-- <p-tabView>
  <p-tabPanel header="Header 1">
     Content 1
  </p-tabPanel>
  <p-tabPanel header="Header 2">
      Content 2
  </p-tabPanel>
  <p-tabPanel header="Header 3">
      Content 3
  </p-tabPanel>
</p-tabView> -->

<!-- 10.11. Criando o componente de barra de navegação -->
<app-navbar></app-navbar>

<!-- 10.10. Criando o componente de pesquisa de lançamentos -->
<!-- <app-lancamentos-pesquisa></app-lancamentos-pesquisa> -->

<!-- 10.13. Desafio: criando componente de pesquisa de pessoas -->
<!-- <app-pessoas-pesquisa></app-pessoas-pesquisa> -->

<!-- 13.1. Criando o protótipo do formulário de cadastro de lançamentos -->
<app-lancamentos-cadastro></app-lancamentos-cadastro>

<!-- 13.6. Desafio: criando o protótipo do formulário de cadastro de pessoa -->
<!-- <app-pessoas-cadastro></app-pessoas-cadastro> -->

<!-- 17.9. Adicionando mensagem de sucesso com Angular Toasty:
  Incompatibilidade com ng2-toasty: A biblioteca ng2-toasty não é compatível com a versão 12 do Angular.
  Por esta razão, utilizaremos o componente Toast do PrimeNG.

Adicionamos a tag HTML do componente Toast no arquivo "app.component.html". -->
<p-toast></p-toast>

<!-- 17.10. Adicionando diálogo de confirmação antes da exclusão
  Assim como foi feito com o comp Toast, na aula anterior, adicionamos o comp de caixa de confirmação no
  templ principal da app. Este comp se comunicará e será acionado pelo serv ConfirmationService p/ exibir
  as msgs de confirm da app. -->
<!-- <p-confirmDialog></p-confirmDialog> -->

<!-- O comp p-confirmDialog pode ser customizado. Entre outros, podemos configurar seu header, um ícone p/ aparecer
  ao lado da msg (no caso será uma interrogação c/ um circ em volta) e podemos substituir os btns padrão da caixa
  alterando o templ da seção footer. Por padrão o footer tem 2 btns c/ lbls "yes" e "no" e ícones pi-check e pi-times,
  respectivamente.

Tds os ícones são da biblio PrimeIcons. Os ícones dos btns serão o pi-check p/ sim (U+2713) e pi-times (X) p/ ñ.

P/ q os btns se tornem funcionais é preciso associar uma var de tmpl ao comp confirmDialog (ex: #confDlg) e associar
  os btns de aceitação e rejeição aos métodos do ConfirmDialog correspondentes: ConfirmDialog.accept() e ConfirmDialog.reject(). -->
<p-confirmDialog header="Confirmação exclusão" icon="pi pi-question-circle" #confDlg>
  <ng-template pTemplate="footer">
    <button type="button" pButton icon="pi pi-check" label="Sim" (click)="confDlg.accept()"></button>
    <button type="button" pButton icon="pi pi-times" label="Não" (click)="confDlg.reject()"></button>
  </ng-template>
</p-confirmDialog>

<!-- Criando comboboxes (selects) c/ pessoas e categs, p/ testar servs de listagem de pessoas (aula 17.7) e de categs (aula 17.16),
  q serão, futuramente, usados p/ carregar as combos na tela de cadastro de lancs. -->
<!-- <select>
  <option value="-1">Selecione pessoa</option>
  <option *ngFor="let pessoa of arrPessoas" [value]="pessoa.codigo">{{ pessoa.nome }}</option>
</select>

<select>
  <option value="-1">Selecione categoria</option>
  <option *ngFor="let categ of arrCategs" [value]="categ.codigo">{{ categ.nome }}</option>
</select> -->

<!-- 17.20. Implementando o serviço de cadastro de lançamentos:
  Tst da func obterOauth2AccessToken(), q ret o access token oauth2 p/ os servs da app q o requerem. -->
<!-- <p>Retorno obtido: <br/> {{ obterAccessToken(true) }}</p> -->
<!-- <p>Oauth2 Access Token: <br> {{ oauth2Token }}</p> -->
