/* You can add global styles to this file, and also import other style files */

/* Estilos globais da app */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #404C51;
}

label {
  font-weight: bold;
}

/* A media query é p/ aplicar as regras abaixos somente em telas >= 1200px, pra limitar o tam dos campos
  a 1170px em monitores muito grandes */
@media (min-width: 1200px) {
  .container {
    margin: 0 auto;
    width: 1170px;
  }
}

.p-datatable {
  margin-bottom: 20px;
}

/* Adiciona cor branca um pouco mais escura às linhas pares da tab de dados, p/ efeito visual */
.p-datatable .p-datatable-tbody > tr:nth-of-type(2n) {
  background-color: #fffff9;
}

/* Adiciona bordas entre as cels da tab de dados (menos à última) */
.p-datatable .p-datatable-tbody > tr > td,
.p-datatable .p-datatable-thead > tr > th {
  border-right: 1px dotted #bcbfc1;
}

.p-datatable .p-datatable-tbody > tr > td:last-of-type,
.p-datatable .p-datatable-thead > tr > th:last-of-type {
  border-right: none;
}

/* Centraliza txt nos cabeçalhos da tab de dados */
.p-datatable .p-datatable-thead > tr > th {
  text-align: center;
}

/*
  Precisamos ajustar nossas regras CSS para tabelas para que elas não sejam aplicadas em dispositivos
    de menor resolução, pois não precisamos, por exemplo, centralizar informações da tabela, pois todas
    elas serão exibidas com alinhamento à esquerda. Para ajustar o CSS faremos uso de media query com
    "min-width: 40em", que é o valor de resolução que o PrimeNG utiliza para alterar o layout da tabela
    para dispositivos de menor resolução.
*/
@media (min-width: 40em) {
  /* Formata colunas de tipo data, valor (R$) e ações (ícones) na tab de dados */
  .col-data-header,
  .col-valor-header,
  .col-acoes-header {
    width: 120px;
  }

  .col-data-content {
    text-align: center !important;
  }

  .col-valor-content {
    text-align: right !important;
  }

  .col-acoes-content {
    text-align: center !important;
  }
}

.p-datatable-tbody	td a:not(.p-button-icon-only) {
  text-decoration: none;

  color: inherit;
}

.p-datatable-tbody	td a:hover {
  text-decoration: underline;
}

/* 13.2. Adicionando seletor de data (componente Calendar):
 Links da app passarão, por padrão, a não mais ter o sublinhado e a ter a cor def abaixo */
a {
  text-decoration: none;

  color: #337AB7;
}
